* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-body: #121214;
  --font-color: #fff;

  --gray-750: #29292E;

  --gray-400: #c4c4cc;
  --gray-500: #e1e1e6;
  --gray-600: #8d8d99;
  --gray-700: #323238;
  --gray-800: #202024;
  --green-500: #00b37e;
  --green-300: #00875f;

  --red-300: #F75A68;
}

body {
  background: var(--background-body);
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
}

textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
